
.highlight1 {
    background-color: #1D32B0; /* Світло-рожевий фон */
    color: #96FFA5; /* Темний колір тексту */
}

.highlight2 {
    background-color: #4400A3; /* Світло-блакитний фон */
    color: #FFC18D; /* Ще темніший колір тексту */
}
